{% embed '@components/container/modal/confirm.html.twig' with {
    formAction: path('app_employee_deleteAll'),
    customFormId: 'deleteManyEmployeesForm',
} %}
    {% block trigger %}
        <div id="disable_buttons" class="hidden" data-form--checkbox--post-target="button">
            {% from "@components/macros/content.html.twig" import button_macro %}
            {{ button_macro({
                custom_classes: ["group", "rounded", "p-2", "bg-danger-50", "text-danger-500", "text-sm", "transition-all", "ease-in-out", "hover:bg-danger-500", "hover:text-white"],
                text:  "",
                icon: 'fa-trash'
            }) }}
        </div>
    {% endblock %}
    {% block content %}
        <div class="text-center text-sm">
            <p class="font-medium text-gray-900">Êtes-vous sûr de vouloir supprimer les utilisateurs sélectionnés ?</p>
            <div class="flex justify-center text-center">
                <small class="text-secondary-500">
                    <i class="fas fa-warning text-warning-500"></i> Attention, cette action est irréversible.
                </small>
            </div>
        </div>
    {% endblock %}
    {% block cancel %}
        <button class="px-2 py-1 bg-secondary-500 hover:bg-secondary-600 text-white mr-1 text-sm">
            Annuler
        </button>
    {% endblock %}
    {% block confirm %}
        <button class="px-2 py-1 text-danger-500 bg-danger-50 hover:bg-danger-500 hover:text-white text-sm">
            Confirmer
        </button>
    {% endblock %}
{% endembed %}