{% include '@user/employee/list/delete-many-button-confirm.html.twig' %}

<div class="flex flex-row items-center justify-between py-2">
    <twig:Button
        text="Nouvel employé"
        type="secondary"
        icon="fa-plus"
        route="{{ path('app_employee_new') }}"
    />
</div>