
{% embed "./modal/delete-many-button-confirm.html.twig" with {
    formAction : 'app_employee_deleteAll',
    customFormId : 'deleteManyEmployeesForm',
    text: 'Êtes-vous sûrs de vouloir supprimer ce(s) employé(s) ?',
} %}
{% endembed %}

<div class="flex flex-row items-center justify-between py-2">
    <a href="{{ path('app_employee_new') }}">
        <button class="group rounded p-2 bg-primary-50 text-primary-500 text-sm transition-all ease-in-out hover:bg-primary-500 hover:text-white">
            <i class="fa-solid fa-plus"></i>
            <span>Nouvel employé</span>
        </button>
    </a>
</div>