<twig:Menu>
    {% block desktop %}
        <div class="mb-6">
            {% include "@components/navigation/menu/item/current-user.html.twig" %}
        </div>
        <div>
            {% include "@components/navigation/menu/item/element.html.twig" %}
        </div>
    {% endblock %}
    {% block mobile %}
            <div class="p-2">
                {% include "@components/navigation/menu/item/mobile/element.html.twig" %}
            </div>
    {% endblock %}
</twig:Menu>