{% set formAction = formAction|default('') %}
{% set customFormId = customFormId|default('') %}


{% embed '@components/container/modal/confirm.html.twig' with {
    formAction: path(formAction),
    customFormId: customFormId,
} %}

    {% block trigger %}
        <div id="disable_buttons" class="hidden" data-form--checkbox--post-target="button">
            {% from "@components/macros/content.html.twig" import button_macro %}
            {{ button_macro({
                custom_classes: ["group", "rounded", "p-2", "bg-yellow-50", "text-yellow-500", "text-sm", "transition-all", "ease-in-out", "hover:bg-yellow-500", "hover:text-white"],
                text:  "",
                icon: 'fa-envelope'
            }) }}
        </div>
    {% endblock %}
    {% block content %}
    <form
        id="sendManyEmailForm"
        data-form--radio--post-target="form"
        action="{{ path('app_mailer_reminderManyEmail')}}"
        method="POST">

        <div class="space-y-4 mb-5" data-controller="form--radio--post">
            <div>
                <input id="bordered-radio-1" type="radio" value="" name="template[{{ 3 }}]" class="w-4 h-4 bg-gray-100 border-gray-300 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                <label for="bordered-radio-1" data-form--radio--post-target="item1" class="ml-2 text-sm font-medium text-gray-900  dark:text-gray-300">Renvoi de devis sous format PDF.</label>
                <img src="" alt="Image template 1" data-form--radio--post-target="image1" class="hidden">
            </div>
            <div>
                <input checked id="bordered-radio-2" type="radio" value="" name="template[{{ 2 }}]" class="w-4 h-4 text-sm bg-gray-100 border-gray-30 dark:ring-offset-gray-800  dark:bg-gray-700 dark:border-gray-600">
                <label for="bordered-radio-2" data-form--radio--post-target="item2" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Relance de devis sans réponse</label>
                <img src="" alt="Image template 2" data-form--radio--post-target="image2" class="hidden">
            </div>
        </div>
    </form>
    
    {% endblock %}
    {% block cancel %}
        <button class="px-2 py-1 bg-secondary-500 hover:bg-secondary-600 text-white mr-1 text-sm">
            Annuler
        </button>
    {% endblock %}
    {% block confirm %}
        <button class="px-2 py-1 text-danger-500 bg-danger-50 hover:bg-danger-500 hover:text-white text-sm">
            Confirmer
        </button>
    {% endblock %}
{% endembed %}