{% extends "@base/base.html.twig" %}

{% block content %}
    <body class="text-secondary-700 bg-white"
        data-controller="theme--body"
        data-theme--body-target="body"
    >
    {% block navbar %}
        {% include "@components/navigation/bar/index.html.twig" %}
    {% endblock %}

    <div id="menu_body-wrapper" class="flex">
        {% block menu %}

            {% include "@components/navigation/menu/index.html.twig" %}

        {% endblock %}
        <div id="page-content" class="flex-1">
            {% block body %}{% endblock %}
        </div>
    </div>
    </body>
{% endblock %}
