{% extends "@base/base.html.twig" %}

{% block content %}
    <body class="w-screen min-h-screen text-md text-secondary-700 theme-indigo bg-primary-500">
        {{ displayFlash() }}
        <div class="flex flex-row items-center justify-center min-h-screen bg-gradient-to-r from-white to-indigo-300">
            {% set widthClass = width|default('1/2') %}
            <div class="w-full md:w-3/4 grid grid-cols-1 lg:grid-cols-2 bg-indigo-700 rounded-lg shadow-2xl overflow-clip">
                {# Left: image #}
                <div class="flex flex-row items-center justify-center">
                    <img src="{{ asset('build/images/default/login.png') }}" alt="image factures"
                         class="w-full object-contain">
                </div>
                {# Right: Login Form #}
                <div class="bg-white">
                    {% block form %}{% endblock form %}
                </div>
            </div>
        </div>
    </body>
{% endblock %}