{% extends "@base/base.html.twig" %}

{% block content %}
    <body class="text-secondary-700 theme-indigo bg-primary-500">
        {{ displayFlash() }}
        <div class="wrapper bg-gradient-to-r from-white to-indigo-300 h-screen flex flex-row items-center justify-center">
            <div class="bg-indigo-700 flex flex-row rounded-lg shadow-2xl overflow-clip">
                {# Left: image #}
                <div class="w-1/2 p-5 relative flex">
                    <img src="{{ asset('build/images/default/login.png') }}" alt="image factures"
                         class="w-full object-contain">
                </div>
                {# Right: Login Form #}
                <div class="bg-white w-1/2 p-5">
                    {% block form %}{% endblock form %}
                </div>
            </div>
        </div>
    </body>
{% endblock %}