{% extends '@base/public.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block form %}

    <div class="flex justify-center items-center h-screen">
        <div class="w-full max-w-md bg-secondary-100 p-4 rounded-md mx-auto">
            <p>
                Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé. Cet e-mail contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                Ce lien expirera dans{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courrier indésirable ou <a class="text-primary-500 hover:text-primary-700" href="{{ path('app_forgot_password_request') }}">Réessayer</a>.</p>
        </div>
    </div>
{% endblock form %}
