

{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <div class="container mx-auto mt-10">
        <h1 class="text-4xl font-bold text-center">Vue Entreprise</h1>
        <div class="mt-4 text-center">
            
            <a href="{{ path('payement') }}" class="bg-blue-500 text-white px-4 py-2 rounded-md">Suivi des paiements</a>
        </div>
    </div>
{% endblock %}
