{% extends '@base/app.html.twig' %}
{% from "@components/macros/content.html.twig" import header %}
{% from "@components/input/macros/index.html.twig" import form_search_macro %}

{% block title %}Accountant{% endblock %}

{% block body %}
    {{ header({
        text: 'Dashboard',
    }) }}
    <div>
       <div class="w-1/2 h-1/2">
           {{ render_chart(chart) }}
       </div>

    </div>
{% endblock %}
