<form
        id="deleteManyCustomersForm"
        data-form--checkbox--post-target="form"
        action="{{ path('app_customer_deleteAll') }}"
        method="POST"
>
    {% include '@customer/index/list/table.html.twig' %}
</form>