{% from "@components/input/macros/index.html.twig" import form_search_macro %}

<div class="flex flex-row justify-between py-2">
    {{ form_search_macro({
        id: 'form-search-customer',
        action: path('app_customer_index'),
        placeholder: 'Rechercher',
        name: constant('App\\Controller\\Customer\\IndexController::SEARCH_FORM_NAME'),
        value: searchTerm|default(''),
    }) }}
    <a href="{{ path('app_customer_new') }}">
        <button class="group rounded p-2 bg-primary-50 text-primary-500 text-sm transition-all ease-in-out hover:bg-primary-500 hover:text-white">
            <i class="fa-solid fa-plus"></i>
            <span>Nouveau client</span>
        </button>
    </a>
</div>