{% from "@components/input/macros/index.html.twig" import form_search_macro %}

<div class="flex flex-row items-center justify-between py-2">
    {{ form_start(searchForm, {'attr': {'data-turbo-action': 'replace'}}) }}
    {{ form_row(searchForm.search, {'attr': {'id': 'search_customer_form'}}) }}
    {{ form_end(searchForm) }}

    <div class="flex flex-row justify-end items-center py-2 gap-2">
            {% embed "./modal/delete-many-button-confirm.html.twig" with {
            formAction : 'app_customer_deleteAll',
            customFormId : 'deleteManyCustomersForm',
            text: 'Êtes-vous sûrs de vouloir supprimer ce(s) client(s) ?',
            } %}
            {% endembed %}
            <twig:Button
                text="Nouveau client"
                type="secondary"
                icon="fa-plus"
                route="{{ path('app_customer_new') }}"
            />
    </div>
   
</div>