<div {{ attributes }}>
    <div class="flex flex-row">
        <div class="flex flex-row grow">
            {% include '@components/twig/live/Quote/Item/edit-item.html.twig' %}
        </div>
    </div>
</div>