{% from "@components/macros/content.html.twig" import header %}
{% from "@components/input/macros/index.html.twig" import form_search_macro %}

{% extends '@base/app.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
{{ displayFlash() }}
    {{ header({
        text: 'Liste des factures',
    }) }}

    <div class="px-4" data-controller="form--checkbox--post">
            <div class="bill_subheader">
            {% include "bill/list/subheader.html.twig" %}
    </div>
    
        <div id="bill_list">
            {% if bills is empty %}
                {% include "@bill/list/no-data.html.twig" %}
        {% else %}
            {% include "bill/list/multiple-delete-form.html.twig" %}
            {% endif %}
        </div>
    </div>

{% endblock %}
