{% from "@components/macros/content.html.twig" import header %}
{% from "@components/macros/content.html.twig" import button_macro %}
{% extends '@base/app.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}

{% block body %}
    {{ header({
        text: 'Ajouter une nouvelle facture',
    }) }}

    <div class="p-4">
        <div class="flex flex-row items-center justify-start mb-4 text-xs text-secondary-500 hover:text-primary-500 ease-in-out">
            <i class="fa-solid fa-arrow-left mr-1"></i>
            <a href="{{ path('app_bill_index') }}">Retour à la liste</a>
        </div>

        <div class="px-4">
            <twig:BillCreator :bill="bill" mode="create" />
        </div>
    </div>
{% endblock %}