<h3 class="text-lg mb-2">Modifier mes informations personnelles</h3>
{{ form_start(form) }}
{{ form_rest(form) }}
<div class="flex flex-row-reverse">
    <twig:Button
        text="{{ button_label|default('Modifier') }}"
        icon="fa-edit"
        variant="small"
    />
</div>
{{ form_end(form) }}