{% set borderClass = border is same as true ? 'border' : '' %}

{% set classes = [
    this.widthClasses,
    this.textSizeClasses,
    this.shadowClasses,
    borderClass,
    this.roundedClasses,
    this.paddingClasses,
    this.marginClasses,
]|join(' ') %}

<div class="{{ classes }} transition-all duration-300">
    <h3 class="mb-1 text-lg">{{ title }}</h3>

    {% block content %}{% endblock %}
</div>