{% from "@components/macros/content.html.twig" import header %}

{% extends '@customer/index/customer-content.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block customer_content %}
    {{ displayFlash() }}
    {{ header({
        text: 'Liste des clients',
    }) }}

    <div class="px-4" data-controller="form--checkbox--post">
        <div id="customer_subheader">
            {% include "@customer/index/list/subheader.html.twig" %}
        </div>

        <div id="customer_list">
            {% if customers is empty %}
                {% include "@customer/index/list/no-data.html.twig" %}
            {% else %}
                {% include "@customer/index/list/multiple-delete-form.html.twig" %}
            {% endif %}
        </div>
    </div>
{% endblock %}