{% from "@components/macros/content.html.twig" import header %}

{% extends '@customer/index/customer-content.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block customer_content %}
    {{ displayFlash() }}
    {{ header({
        text: 'Ajouter un nouveau client',
    }) }}
    <div class="p-4">
        <div class= "flex flex-row items-center justify-start mb-4 text-xs text-secondary-500 hover:text-primary-500 ease-in-out">
            <i class="fa-solid fa-arrow-left mr-1"></i>
            <a href="{{ path('app_customer_index') }}">Retour à la liste</a>
        </div>
        {% embed "@components/container/form-container.html.twig" %}
            {% block content %}
                {% include('@customer/index/_form.html.twig') with {
                    button_label: 'Ajouter',
                } %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
