{% block body %}

<div>

    <!-- Modale -->
    <div id="category_modal" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded shadow-lg w-1/2">
            <!-- Contenu de la modale -->
            <h2 class="text-lg font-bold mb-4">Modification catégorie</h2>
  

            <!-- Bouton pour fermer la modale -->
            <button id="category_close_button" class="btn-close">
                Fermer
            </button>
        </div>
    </div>
</div>

{% endblock %}