{% from "@components/macros/content.html.twig" import button_macro %}

{% block body %}

<!-- Modal de confirmation -->
<div id="modal_delete" class="hidden fixed inset-0 z-50 overflow-auto bg-secondary-700 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-8 max-w-md mx-auto rounded shadow-lg">
        <div class="text-center">
            <h3 class="text-lg font-bold mb-4">Confirmation de suppression</h3>
            <p class="mb-4">Êtes-vous sûr de vouloir supprimer ce(s) produit(s) ?</p>
        </div>
        <div class="flex justify-center">
            <button id="cancel_delete" class="mr-4 bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Annuler</button>

            {{ button_macro({
                id: 'confirm_delete',
                custom_classes: ["bg-danger-500", 
                                "hover:bg-danger-600",
                                "text-white", 
                                "font-bold", 
                                "py-2", 
                                "px-4",
                                "rounded"],
                text: "Supprimer",
            }) }}
        </div>
    </div>
</div>


{% endblock %}