  
{% from "@components/macros/content.html.twig" import header %}
{% from "@components/macros/content.html.twig" import button_macro %}
{% extends '@base/app.html.twig' %}

  
{% block title %}Nouveau produit{% endblock %}
  
  {% block body %}
      {{ displayFlash() }}
      {{ header({
          text: 'Ajouter un nouveau produit',
      }) }}
  
      <div class="p-4">
          <div class= "flex flex-row items-center justify-start mb-4 text-xs text-secondary-500 hover:text-primary-500 ease-in-out">
              <i class="fa-solid fa-arrow-left mr-1"></i>
              <a href="{{ path('app_product_index') }}">Retour à la liste</a>
          </div>

          <div>
            <div class="flex justify-end py-2 gap-2 w-1/2">
                <twig:Button
                    id="category_open_button"
                    text="Catégorie"
                    color="primary"
                    type="secondary"
                    variant="small"
                    route="{{ path('app_category_index') }}"
                />
            </div>

          </div>
          <div class="p-4 shadow-md w-1/2 border rounded">
              <div class="text-sm">
                  {% include('product/_form.html.twig') with {
                      button_label: 'Ajouter',
                  } %}
              </div>
          </div>
          </div>
          
      </div>
  {% endblock %}
  
