<div {{ attributes }}>
    <div class="flex flex-row">
        <div class="flex flex-row grow">
            {% include '@quote/live/QuoteCreator/edit-item.html.twig' %}
        </div>
    </div>
</div>