{% from "@components/macros/content.html.twig" import header %}
{% from "@components/macros/content.html.twig" import alert %}
{% from "@components/macros/content.html.twig" import paginator %}
{% from "@components/macros/table.html.twig" import default as table %}
{% from "@components/input/macros/index.html.twig" import form_search_macro %}

{% extends '@base/app.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Liste des devis',
    }) }}
     
  <div class="px-4">
    <div class="flex flex-row justify-between py-2">
            {{ form_search_macro({
                id: 'form-search-customer',
                action: path('app_quote_index'),
                placeholder: 'Rechercher',
                name: constant('App\\Controller\\QuoteController::SEARCH_FORM_NAME'),
                value: searchTerm|default(''),
            }) }}
            <a href="{{ path('app_quote_new') }}">
                <button class="group rounded p-2 bg-primary-50 text-primary-500 text-sm transition-all ease-in-out hover:bg-primary-500 hover:text-white">
                    <i class="fa-solid fa-plus"></i>
                    <span>Nouveau devis</span>
                </button>
            </a>
    </div>

    <div id="quote_list">
            {% include "quote/list/multiple-delete-form.html.twig" %}
    </div>

   </div>
    
{% endblock %}
