{% from "@components/macros/content.html.twig" import header %}
{% from "@components/input/macros/index.html.twig" import form_search_macro %}


{% extends '@base/app.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Liste des devis',
    }) }}
     
  <div class="px-4" data-controller="form--checkbox--post">
    <div class="quote_subheader">
        {% include "quote/list/subheader.html.twig" %}
    </div>

    <div id="quote_list">
            {% include "quote/list/multiple-delete-form.html.twig" %}
    </div>

   </div>
    
{% endblock %}
