
{% extends '@base/app.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <div class="container mx-auto mt-10">
        <h1 class="text-4xl font-bold text-center">Les devis</h1>
        <div class="mt-4 flex flex-col">
            
        </div>
    </div>
    
{% endblock %}
