
{% from "@components/macros/content.html.twig" import button_macro %}


{{ form_start(form) }}
    {{ form_rest(form) }}
    <div class="flex flex-row-reverse">
        <twig:Button
            text="{{ button_label|default('Enregistrer') }}"
            type="primary"
            icon="fa-plus"
        />
    </div>
{{ form_end(form) }}
