
{% from "@components/macros/content.html.twig" import button_macro %}


{{ form_start(form) }}
    {{ form_rest(form) }}
    <div class="flex flex-row-reverse">
        {{ button_macro({
            text: button_label|default('Enregistrer'),
            custom_classes: button_classes,
        }) }}
    </div>
{{ form_end(form) }}
