{% from "@components/macros/content.html.twig" import header %}
{% extends '@base/app.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Modification de l\'employé',
    }) }}

     <div class="p-4">
         <div class= "flex flex-row items-center justify-start mb-4 text-xs text-gray-500 hover:text-primary-500 ease-in-out">
             <i class="fa-solid fa-arrow-left mr-1"></i>
             <a href="{{ path('app_employee_index') }}">Retour à la liste</a>
         </div>
         {% embed "@components/container/form-container.html.twig" %}
             {% block content %}
                 {{ include('user/employee/_form.html.twig', {
                     button_label: 'Modifier',
                     button_classes: [
                         'bg-warning-400',
                         'text-gray-900',
                         'hover:bg-warning-500',
                         'ml-2',
                     ]
                 }) }}
             {% endblock %}
         {% endembed %}
    </div>
{% endblock %}
