{% from "@components/macros/content.html.twig" import button_macro %}
{% from "@components/macros/content.html.twig" import header %}

{% extends '@base/app.html.twig' %}

{% block title %}Employé{% endblock %}

{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Liste des employés',
    }) }}
    <div class="px-4" data-controller="form--checkbox--post">
        <div class="flex flex-row justify-end items-center py-2 gap-2">
            {% include '@user/employee/list/subheader.html.twig' %}
        </div>
        {% include '@user/employee/list/multiple-delete-form.html.twig' %}
    </div>
{% endblock %}
