{% extends 'base.html.twig' %}

{% block title %}Available input components
{% endblock %}

{% block body %}

    <div class="container mt-5 p-5 m-auto shadow-lg border border-gray-100">
        <h2 class="text-lg mb-3">Form input text examples</h2>
            {% include "@components/input/text/index.html.twig" with {
                'label': 'Default',
                'full': false,
                'help': 'Help message',
            } %}
			{% include "@components/input/text/index.html.twig" with {
                'label': 'Full',
                'full': true,
                'help': 'Help message',
                'error': 'This is a long error message'
            } %}
			{% include "@components/input/text/index.html.twig" with {
                'label': 'Another label',
                'full': true,
                'help': 'Help message',
            } %}
			{% include "@components/input/text/index.html.twig" with {
                'label': 'Another one without message',
                'full': true,
            } %}
			{% include "@components/input/text/index.html.twig" with {
                'label': 'Full error input',
                'full': true,
                'error': 'This is a long error message'
            } %}
            <div class="flex flex-row justify-end">
                <button class="bg-blue-500 p-2 rounded text-white hover:bg-blue-800 transition-colors ease-in-out duration-100">
                    Just here for the design 😛
                </button>
            </div> 
    </div>
{% endblock %}
