{% extends '@base/app.html.twig' %}

{% block title %}Available input components{% endblock %}

{% set description = "
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    </ul>
"|trim|raw %}

{% block body %}
    <div class="ml-5 w-96 bg-primary-100 p-5 rounded shadow mt-5">
        <h2 class="flex align-middle py-3">⚠️ Hide automatically inactive items.</h2>
        {% include "@components/accordion/group/index.html.twig" with {
            icon: true,
            name: 'accordion_test',
            data: [
                {
                    title: 'I am the simpliest item',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                },  
                {
                    title: 'What about a list ?',
                    description: description
                },    
                {
                    title: 'Does this work with images ?',
                    description: '<img src="https://picsum.photos/200/300" alt="Random image" />'
                },    
            ],
        } %}
    </div>

    <div class="ml-5 w-96 bg-secondary-100 p-5 rounded shadow mt-5">
    <h2 class="flex align-middle py-3">⚠️ Hide manually items.</h2>
    {% include "@components/accordion/group/index.html.twig" with {
        icon: true,
        name: 'accordion_test',
        data: [
            {
                title: 'I am the simpliest item',
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
            },  
            {
                title: 'What about a list ?',
                description: description
            },    
            {
                title: 'Does this work with images ?',
                description: '<img src="https://picsum.photos/200/300" alt="Random image" />'
            },    
        ],
        toggle: false,
    } %}
    </div>
    
{% endblock %}
