{% set productBillFormWidths = {
    'xs': 'full',
    'sm': 'full',
    'md': 'full',
    'lg': 'full',
    'xl': 'full',
} %}

{% set shadowSizes = {
    'xs': 'xs',
    'sm': 'xs',
    'md': 'sm',
    'lg': 'md',
    'xl': 'md',
} %}

<twig:Card
    title="Liste des produits"
    :widths="productBillFormWidths"
    :shadowSizes="shadowSizes"
    :rounded="false"
>
{% if not _isReadOnlyMode %}
<button
        data-action="live#action"
        data-action-name="addProductBillItem"
        data-loading="action(addProductBillItem)|addAttribute(disabled)"
        class="text-sm mb-3 px-4 py-1 bg-primary-100 text-primary-500 rounded hover:bg-primary-200"
>
    <span data-loading="action(addProductBillItem)|show">
        <i class="fas fa-spinner animate-spin"></i>
    </span>
    <i class="fas fa-plus" data-loading="action(addProductBillItem)|hide"></i>
    <span>Ajouter</span>
</button>
{% endif %}

{% for key, item in productBillData %}
    <twig:BillCreator:Item
        :key="key"
        :productId="item.productId"
        :quantity="item.quantity"
        :tva="item.tva"
        :discount="item.discount"
        :price="item.price"
        :total="item.total"
        :isEditing="item.isEditing"
        :mode="mode"
    />
{% endfor %}
</twig:Card>