<div class="mb-2 py-2 border-b">
    <h6 class="text-base">Color</h6>
    <twig:Alert text="Primary" color="primary"/>
    <twig:Alert text="Secondary" color="secondary"/>
    <twig:Alert text="Success" color="success"/>
    <twig:Alert text="Danger" color="danger"/>
    <twig:Alert text="Warning" color="warning"/>
    <twig:Alert text="Info" color="info"/>
</div>
<div class="mb-2 py-2 border-b">
    <h6 class="text-base">Sizes</h6>
    <twig:Alert text="Small alert" color="info"  icon="fa-info-circle" variant="small"/>
    <twig:Alert text="Normal alert" color="info"  icon="fa-info-circle"/>
    <twig:Alert text="Large alert" color="info"  icon="fa-info-circle" variant="large"/>
</div>
<div class="mb-2 py-2 border-b">
    <h6 class="text-base">With icon</h6>
    <twig:Alert text="Yeah, I support icons" color="info" icon="fa-info-circle"/>
</div>