<div class="mb-2 py-2 border-b">
    <h6 class="text-base">Color</h6>
    <twig:Chip text="Primary" color="primary"/>
    <twig:Chip text="Secondary" color="secondary"/>
    <twig:Chip text="Success" color="success"/>
    <twig:Chip text="Danger" color="danger"/>
    <twig:Chip text="Warning" color="warning"/>
    <twig:Chip text="Info" color="info"/>
</div>
<div class="mb-2 py-2 border-b">
    <h6 class="text-base">Sizes</h6>
    <twig:Chip text="Small chip" color="warning" size="small"/>
    <twig:Chip text="Default chip" color="info"/>
</div>