{% embed '@components/container/modal/confirm.html.twig' with {
    formAction: '#',
} %}
    {% block trigger %}
        <button class="group p-5 bg-blue-100">
            Click on me !
        </button>
    {% endblock %}
    {% block content %}
        <div class="text-center">
            <p class="font-medium text-gray-900">Confirmation message</p>
        </div>
    {% endblock %}
    {% block cancel %}
        <button class="px-2 py-1 bg-secondary-500 hover:bg-secondary-600 text-white mr-1">
            Annuler
        </button>
    {% endblock %}
    {% block confirm %}
        <button class="px-2 py-1 text-danger-500 bg-danger-50 hover:bg-danger-500 hover:text-white">
            Confirmer
        </button>
    {% endblock %}
{% endembed %}