{% extends '@base/app.html.twig' %}
{% from "@components/macros/content.html.twig" import header %}

{% block title %}Edit Payment{% endblock %}

{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Modifier le paiement',
    }) }}

    <div class="p-4">
        <div class="flex flex-row items-center justify-start mb-4 text-xs text-secondary-500 hover:text-primary-500 ease-in-out">
            <i class="fa-solid fa-arrow-left mr-1"></i>
            <a href="{{ path('app_payment_index') }}">Retour à la liste</a>
        </div>

        <twig:Card
                :padding="4"
        >
            {% block content %}
                {{ include('payment/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            {% endblock %}
        </twig:Card>
    </div>
    
{% endblock %}
