{% set availableThemes = {
    'indigo': {
        'label': 'Indigo (Défault)',
        'color': '#667eea',
        'textColor': '#fff'
    },
    'blue': {
        'label': 'Bleu',
        'color': '#4299e1',
        'textColor': '#fff'
    },
    'yellow': {
        'label': 'Jaune',
        'color': '#ecc94b',
        'textColor': '#fff'
    },
    'green': {
        'label': 'Vert',
        'color': '#48bb78',
        'textColor': '#fff'
    },
    'red': {
        'label': 'Rouge',
        'color': '#f56565',
        'textColor': '#fff'
    },
    'orange': {
        'label': 'Orange',
        'color': '#ed8936',
        'textColor': '#fff'
    },
    'pink': {
        'label': 'Rose',
        'color': '#ed64a6',
        'textColor': '#fff'
    },
    'coffee': {
        'label': 'Café',
        'color': '#e69c41',
        'textColor': '#fff'
    },
} %}

{% embed "@components/dropdown/index.html.twig" with {
    id: 'theme_chooser_' ~ uniqid(),
} %}
    {% block toggle %}
        <div class="transform rotate-0 hover:rotate-45 duration-300 hover:bg-primary-600 px-1 rounded-full">
            <i class="fa-solid fa-palette"></i>
        </div>
    {% endblock %}
    {% block content %}
        <div class="w-36 p-2 bg-white text-secondary-900 rounded border border-primary-200 text-xs">
            <h3 class="font-semibold ml-1">Changez le theme</h3>
            {% for theme, options in availableThemes %}
                <div id="choose-theme-{{ theme }}" class="p-1 hover:bg-secondary-100 rounded-sm cursor-pointer"
                     data-controller="theme--chooser"
                     data-theme--chooser-target="themeChooser"
                     data-theme--chooser-theme-value="{{ theme }}"
                >
                    <button>
                        <i style="color: {{ options.color }}" class="fa-solid fa-circle"></i>
                        <span>{{ options.label }}</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}