<form
        id="deleteManyQuotesForm"
        data-form--checkbox--post-target="form"
        action="{{ path('app_quote_deleteAll') }}"
        method="POST"
>
    {% include 'quote/list/table.html.twig' %}
</form>