<div class="flex flex-row items-center justify-between py-2">
    <div class="flex flex-row justify-end items-center py-2 gap-2">
        {% embed "./modal/delete-many-button-confirm.html.twig" with {
            formAction : 'app_quote_deleteAll',
            customFormId : 'deleteManyQuotesForm',
            text: 'Êtes-vous sûrs de vouloir supprimer ce(s) devis ?',
            } %}
        {% endembed %}

        <twig:Button
            text="Nouveau devis"
            type="secondary"
            icon="fa-plus"
            route="{{ path('app_quote_new') }}"
            variant="default"
        />
    </div>
</div>